.map_service {
    z-index: -1;
    .container {
        overflow-y: hidden;
        height: calc(100vh - var(--height_header) - var(--height_navbar) - 20px);
        .list_service {
            height: calc(100vh - var(--height_header) - var(--height_navbar) - 20px);
        }
    }
    @media (min-width: 1025px) and (max-width: 1536px) {
        .container {
            height: calc(100vh - var(--height_header) - var(--height_footer) - var(--height_navbar) - 20px + 30px);
        }
    }
}


.wrap_list {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 20px;
    scroll-behavior: smooth;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
    }
    &::-webkit-scrollbar {
        background: rgb(202, 198, 198);
        width: 10px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background: green;
        border-radius: 10px;
    }
}