.map_service {
    margin-top: calc(var(--height_header) + var(--height_navbar) + 10px);
    // min-height: 100vh;
    z-index: -1;
}

.wrap_list {
    overflow: scroll;
    margin-right: 20px;
    scroll-behavior: smooth;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
    }
    &::-webkit-scrollbar {
        background: rgb(202, 198, 198);
        width: 13px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background: green;
        border-radius: 10px;
    }
}