:root {
    --primary: #1fb155;
    --border: #DDDDDD;
    --color_nav_item: #717171;
    --size_nav_item: 100px;
    --height_header: 80px;
    --height_navbar: 80px;
    --backgroundBlack: #000;
    --color_heart: #FF385C;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
    }
    &::-webkit-scrollbar {
        background: rgb(202, 198, 198);
        width: 13px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background: green;
        border-radius: 10px;
    }
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.wrap {
    width: 1360px;
    margin: auto;
}

.small_wrap {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.oneline {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

input:checked {
    accent-color: var(--primary);
    cursor: pointer;
}

input {
    outline: none;
}