
.nav_item {
    position: relative;
    width: var(--size_nav_item);
    font-size: 13px;
    padding: 0 12px;
    color: var(--color_nav_item);
    cursor: pointer;
    margin-top: 12px;
    padding: 4px 5px 14px 5px;

    &:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
    }
}


.title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}