.bigbox {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.box_content {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background: green;
        border-radius: 10px;
    }
}

@media (max-width: 1024px) {
    .wrap_content {
        width: 100%;
    }
}