.filter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #373636;
    
}

.location {
    display: grid;
}

.type {
    display: grid;
}

.ward {
    display: grid;
}