.profile {
    margin-top: calc(var(--height_header) + 48px);
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 20px;
}