.box_comment {
    font-family: 'Times New Roman', Times, serif;
}

.comment_list {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background: green;
        border-radius: 10px;
    }
}