.box_comment {
    font-family: 'Times New Roman', Times, serif;
}

.comment_list {
    scroll-behavior: smooth;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
    }
    &::-webkit-scrollbar {
        background: rgb(202, 198, 198);
        width: 13px;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background: green;
        border-radius: 10px;
    }
}