.search_bar {
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 48px;
    border: 1px solid var(--border);
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);

    &:hover {
        box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    }
    div:last-child {
        margin: 7px 7px 7px 0;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--primary);
    }
}