.navbar {
    position: fixed;
    top: var(--height_header);
    width: 100vw;
    height: var(--height_navbar);
    background-color: white;
    z-index: 2;
    margin-top: 20px;
}

.filter {
    border: 1px solid var(--border);
    &:hover {
        box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    }
}

.navlist {
    overflow: hidden;
    width: calc(var(--size_nav_item)* 12);
    transition: all 0.2;

    li {
        transition: all 0.4s ease-out;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .navlist {
        width: calc(var(--size_nav_item)* 10);
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .navlist {
        width: calc(var(--size_nav_item)* 8);
    }
}

@media (min-width: 641px) and (max-width: 899px) {
    .navlist {
        width: calc(var(--size_nav_item)* 6);
    }
}

@media (min-width: 500px) and (max-width: 640px) {
    .navlist {
        width: calc(var(--size_nav_item)* 5);
    }
}

@media (min-width: 361px) and (max-width: 499px) {
    .navlist {
        width: calc(var(--size_nav_item) * 3);
    }

    .wrap_navlist {
        padding: 0 10px;
    }
}

@media (max-width: 360px) {
    .navlist {
        width: calc(var(--size_nav_item) * 3);
    }
}

.active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}