.drag {
    border: 3px solid green;
    position: relative;
    pointer-events: none;
    &::before {
        content: 'hello';
        // background-image: url();
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffffffcc;
    }
}